{
  "github": {
    "token": "",
    "url": "https://api.github.com/graphql"
  },
  "mongodb": {
    "name": "test",
    "url": "mongodb://localhost:27017/"
  },
  "telegram": {
    "token": ""
  },
  "app": {
    "updateInterval": 300,
    "logs": "./app.log",
    "restartRate": 180
  }
}
